{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">
    <h2 class="text-center pb-5">{{.Title}}</h2>
    <div class="row g-3">
        <div class="px-0 px-md-5 px-lg-5">
                <div class="row gy-2">
                {{ range .Site.Params.about.skills.items }}
                    <div class="col-lg-2 col-md-4 pb-4">
                        <div class="box bg-primary h-100 d-flex p-3 flex-column  text-white text-center">
                            <img src="{{ .img }}" class="img-fluid w-50 mx-auto" alt="">
                            <h3 class="mt-auto">{{ .name }}</h3>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}